@keyframes animationX {
    from {background-color: white;
        transform: rotateY(0turn);
    }
    to {
        background-color: rgb(87, 218, 21);
        transform: rotateY(2turn);
    }
}

@keyframes animationO {
    from {background-color: white;
        transform: rotateY(0turn);}
    to {background-color: crimson;
        transform: rotateY(2turn);}
}

@keyframes rotate{
    from {transform: rotateY(0turn);}
    to {transform: rotateY(3turn);}
}

.navbar {
    background-color: #79c0ef; 
}
  
.nav-link {
    color:rgb(144, 43, 92);
}
  
.nav-link:hover {
    color: #ffeb3b;
    text-decoration: none;
}

.center-screen {
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.square {
    width: 45px;
    height: 45px;
    font-size: 2rem;

    color:#e8e5e5;
    border: solid 1px black;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.square_o{
    background-color: rgb(87, 218, 21);
}

.square_x{
    background-color: crimson;
}

p {
  font-size: 2rem;
}

.reset{
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aqua;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

.animation_x {
    background-color: rgb(87, 218, 21);
    animation-name: animationX;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.animation_o {
    background-color: crimson;
    animation-name: animationO;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.board-container {
    display: flex;
    justify-content: center;
}
  
.board-paper {
    width: 240px; /* Adjust the width based on your preference */
    padding: 16px;
}
  
.board-grid {
    width: 100%;
}
  