/* Keyframes */
@keyframes animationX {
    from {
        background-color: #1976d2;
        transform: rotateY(0turn);
    }
    to {
        background-color: crimson;
        transform: rotateY(2turn);
    }
}

@keyframes animationO {
    from {
        background-color: #1976d2;
        transform: rotateY(0turn);
    }
    to {
        background-color: limegreen;
        transform: rotateY(2turn);
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0turn);
    }
    to {
        transform: rotateY(3turn);
    }
}

/* Navigation */
.navbar {
    background-color: #79c0ef; 
}
  
.nav-link {
    color: rgb(144, 43, 92);
}
  
.nav-link:hover {
    color: #ffeb3b;
    text-decoration: none;
}

/* Layout */
.center-screen {
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Tic Tac Toe Square */
.square {
    width: 45px;
    height: 45px;
    font-size: 2rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.square.square_x {
    background-color: crimson;
}

.square.square_o {
    background-color: limegreen;
}

.square.square_x.animation_x {
    animation-name: animationX;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.square.square_o.animation_o {
    animation-name: animationO;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.square.square_x:disabled {
    background-color: crimson; 
    color: #000;
}

.square.square_o:disabled {
    background-color: limegreen; 
    color: #000; 
}

.square.square_x:hover {
    background-color: crimson;
}

.square.square_o:hover {
    background-color: limegreen; 
}

/* Other Styles */
p {
    font-size: 2rem;
}

.reset {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: aqua;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;
}

.board-container {
    display: flex;
    justify-content: center;
}
  
.board-paper {
    width: 240px; /* Adjust the width based on your preference */
    padding: 16px;
}
  
.board-grid {
    width: 100%;
}
